<h1> Edit Profile </h1>
Email: <%= current_user.email %><br>
<%= form_for current_user do |f| %>
<%= f.text_field :first_name, placeholder: 'First Name' %>
    <br>
    <%= f.text_field :last_name, placeholder: 'Last Name' %>
    <br>
    <%= f.text_field :email, placeholder: 'Email' %>
    <br>
    <%= f.password_field :password, placeholder: 'Password' %>
    <br> 
    <%= f.password_field :password_confirmation, placeholder: 'Password' %>
    <br>
    <%= f.file_field :image %>
    <br><br>
    <%= f.submit 'Edit Profile' %>
<% end %>