<div class="ryde">
<% if @user.pilot %>
    <% Ryde.all.order("created_at DESC").each do |ryde| %> 
        <% if ryde.pilot_id.to_i == @user.id %>
            <% unless ryde.finished %>
            <% else %>
                <div>
                    <br>
                    <%= image_tag User.find(ryde.user_id).image.url, size: '35x35' %>
                    <%= User.find(ryde.user_id).first_name %>&nbsp;<%= User.find(ryde.user_id).last_name[0] %>.
                    <br>
                    <strong>Finished:</strong> <%= ryde.updated_at.strftime("%B %d, %Y") %>
                    <br>
                    <strong>From:</strong> <%= ryde.starting_location %>
                    <br>
                    <strong>To:</strong> <%= ryde.ending_location %>
                    <br> 
                    <strong>Price:</strong> <%= number_to_currency((((Destination.find_by(name: ryde.starting_location).au - Destination.find_by(name: ryde.ending_location).au).abs * 10998213) + 6000000).to_d) %>
                    <br>
                </div>
            <% end %>
        <% end %>
    <% end %>
<% else %>
    <% Ryde.all.order("created_at DESC").each do |ryde| %>
        <% if ryde.user_id.to_i == current_user.id %>
            <% unless ryde.finished %>
                    <div>
                        <strong>Active Ryde</strong> <br>
                        <strong>From:</strong> <%= ryde.starting_location %>, <%= Destination.find_by(name: ryde.starting_location).location %>
                        <br>
                        <strong>To:</strong> <%= ryde.ending_location %>, <%= Destination.find_by(name: ryde.ending_location).location %>
                        <br>
                        <strong>Price:</strong> <%= number_to_currency((((Destination.find_by(name: ryde.starting_location).au - Destination.find_by(name: ryde.ending_location).au).abs * 10998213) + 6000000).to_d) %>
                        <br>
                        <strong>Time:</strong> <%= ((Destination.find_by(name: ryde.starting_location).au - Destination.find_by(name: ryde.ending_location).au).abs * 160).to_i %> days
                        <br><br>
                    </div>
            <% else %>
                <div>
                    <strong>Ryde Finished:</strong> <%= ryde.updated_at.strftime("%B %d, %Y") %>
                    <br>
                    <strong>From:</strong> <%= ryde.starting_location %>, <%= Destination.find_by(name: ryde.starting_location).location %>
                    <br>
                    <strong>To:</strong> <%= ryde.ending_location %>, <%= Destination.find_by(name: ryde.ending_location).location %>
                    <br>
                    <strong>Price:</strong> <%= number_to_currency((((Destination.find_by(name: ryde.starting_location).au - Destination.find_by(name: ryde.ending_location).au).abs * 10998213) + 6000000).to_d) %>
                    <br>
                    <strong>Time:</strong> <%= ((Destination.find_by(name: ryde.starting_location).au - Destination.find_by(name: ryde.ending_location).au).abs * 160).to_i %> days
                    <br><br>
                </div>
            <% end %>
        <% end %>
    <% end %>
<% end %>
</div>