<div class="container-fluid">
<% unless current_user.pilot %>
    <h1>My Rydes </h1>
    <br>
    <% if current_user.rydes.length > 0 %>
        <% if current_user.rydes.order('created_at DESC').first.finished %>
            <%= link_to "<button class='btn btn-lg'>REQUEST A RYDE</button>".html_safe, new_ryde_path %>
        <% end %>
    <% else %>
        It looks like you have no rydes! 
        <br>
        <%= link_to "<button class='btn btn-lg'>REQUEST A RYDE</button>".html_safe, new_ryde_path %>
    <% end %>
    <% @rydes.each do |ryde| %>
        <% if ryde.user_id == current_user.id %>
        <div>
            <% if ryde.pilot_id %>
                <br>
                <%= image_tag User.find(ryde.pilot_id).image.url, size: '75x75' %>
                <br>
                <%= User.find(ryde.pilot_id).first_name %>
                <%= User.find(ryde.pilot_id).last_name[0] %>. accepted this ryde.
                <br>
            <% end %>
            <div>
                <strong>From:</strong> <%= ryde.starting_location %>, <%= Destination.find_by(name: ryde.starting_location).location %>
                <br>
                <strong>To:</strong> <%= ryde.ending_location %>, <%= Destination.find_by(name: ryde.ending_location).location %>
                <br>
                <strong>Price:</strong> <%= number_to_currency((((Destination.find_by(name: ryde.starting_location).au - Destination.find_by(name: ryde.ending_location).au).abs * 10998213) + 6000000).to_d) %>
                <br>
                <strong>Time:</strong> <%= ((Destination.find_by(name: ryde.starting_location).au - Destination.find_by(name: ryde.ending_location).au).abs * 160).to_i %> days
                <br>
                <% unless ryde.finished %>
                    <%= link_to "Edit", edit_ryde_path(id: ryde.id) %> 
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <%= link_to "Delete", ryde_path(id: ryde.id), method: :delete %>
                <% else %>
                    Ryde Finished: <%= ryde.updated_at.strftime("%B %d, %Y") %>
                <% end %>
            </div>
        </div>
        <% end %>
    <% end %>
<% else %> 
    <h1>Available Rydes</h1>
    <br>
    <% @rydes.each do |ryde| %>
        <% unless ryde.pilot_id %>
            <div>
                <%= image_tag User.find(ryde.user_id).image.url, size: '75x75' %>
                <%= User.find(ryde.user_id).first_name %>&nbsp;<%= User.find(ryde.user_id).last_name[0] %>.
                <br>
                <div>
                    <strong>From:</strong> <%= ryde.starting_location %>
                    <br>
                    <strong>To:</strong> <%= ryde.ending_location %>
                    <br>
                    <%= link_to "View Ryde", ryde_path(id: ryde.id) %>
                </div>
            </div>
        <% end %>
    <% end %>
<% end %>
</div>