<h1> Ryde Details </h1>
<%= image_tag User.find(@ryde.user_id).image.url, size: '35x35' %>
<br>
<%= User.find(@ryde.user_id).first_name %> <%= User.find(@ryde.user_id).last_name[0] %>.
<br>
From: <%= @ryde.starting_location %>
<br>
To: <%= @ryde.ending_location %> 
<br>
$14000000
<br> 
<%= form_tag ryde_path do%>
    <%= submit_tag 'Accept' %> 
<% end %>
&nbsp; &nbsp; 
<%= link_to 'Back', rydes_path %>