<!DOCTYPE html>
<html>
  <head>
    <title>RydeApp</title>
    <%= csrf_meta_tags %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<% if current_user %>
<div class="container-fluid">
  <div class="row">
    <div class="col col-left">
      RYDE
    </div>
    <div class="col col-right">
      Welcome, <%= current_user.first_name %>
    </div>
  </div>
    <div class="row">
      <div class="col col-left">
        <%= link_to 'Request', new_ryde_path %>
      </div>
      <div class="col">
        <%= link_to 'Profile', user_path(id: current_user.id) %>
      </div>
      <div class="col">
        <%= link_to 'Rydes', rydes_path %>
      </div>
      <div class="col col-right">
        <%= link_to 'Logout', session_path('log_out'), method: :delete %>
      </div>
    </div>
</div>
<br>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
